html {
	--mobile-scale: 1.25;
	--mobile-padding-offset: 0.46;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('img/3.jpg');    /* 修正路径 */
    background-size: cover;                /* 让图片覆盖整个屏幕 */
    background-position: center;           /* 居中显示图片 */
    background-repeat: no-repeat;          /* 防止图片重复 */
    background-attachment: fixed;          /* 背景固定，页面滚动时不会移动 */
    font-family: Arial, sans-serif;        /* 设置字体 */
    color: white;                          /* 设置文字颜色，确保与背景对比明显 */
    text-align: center;                    /* 居中文本 */
    padding: 50px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);  /* 半透明黑色遮罩 */
    z-index: -1;                      /* 保证遮罩在文字下方 */
    background-position: center;
}


body {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 64rem;
  }
  
  header {
    border-top: 0px;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 1rem;
  }
  
  a.nav-title,
  a.nav-title:visited {
    font-family: 'Source Code Pro', monospace;
    font-size: 3em;
    font-weight: 1;
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 80rem;
  }

  .arrow-down {
    display: inline-block;               /* 让箭头成为内联块，方便居中 */
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* 左边透明 */
    border-right: 20px solid transparent;/* 右边透明 */
    border-top: 20px solid rgb(255, 255, 255);        /* 上边黑色，形成向下箭头 */
    cursor: pointer;                     /* 鼠标悬停时变成点击样式 */
    margin-top: 10px;                    /* 与顶部保持距离 */
    transition: transform 0.3s ease;     /* 悬停平滑效果 */
}

/* 悬停时微动效果 */
.arrow-down:hover {
    transform: translateY(5px);  /* 悬停时箭头下移 5 像素 */
}

  
.extra-space1 {
    margin-top: 40px;  /* 增加与上一个段落的间距 */
    margin-bottom: 40px;  /* 与下一个段落的间距较小 */
}

.extra-space2 {
    margin-top: 40px;  /* 增加与上一个段落的间距 */
    margin-bottom: 100px;  /* 与下一个段落的间距较小 */
}


  section#about{
    padding-bottom: 1rem;
  }
  
  #about p {
    font-family: 'Source Code Pro', monospace;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 20px;
    line-height: 3rem;
  }
  

  #about a,
  a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom:1px solid;
    border-color: #ffffff;

  }

  .content-text2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 3rem;
    text-align: justify;
  }
  
  #assignments h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  p.assignment-title {
    font-family: 'Source Code Pro', monospace;
    font-size: px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  p.assignment-title a,
  a:visited {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid;
    border-color: #ffffff;
  }
  
  p.assignment-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5rem;
    margin-top: 0;
  }
  
  img.assignment-thumbnail {
    margin-bottom: 1rem;
    max-width: 30%;
    transition: transform 0.3s ease;
  }

  img.assignment-thumbnail:hover {
    transform: scale(1.1);  /* 悬停时放大 1.1 倍 */
}
  
  footer {
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #aaa;
  }
  
  p.footer-text {
    font-family: 'Source Code Pro', monospace;
    font-size: .75rem;
    font-weight: 300;
    text-align: center;
  }
  
  footer a,
  a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid;
    border-color: #ffffff;
  }
  



  .mapboxtest {
    width: 900px;
    height: auto;
    transition: transform 0.6s ease;  /* 平滑过渡效果 */
}

.mapboxtest:hover {
    transform: scale(1.1);  /* 悬停时放大 1.1 倍 */
}




a.second-title,
a.second-title:visited {
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    font-weight: 1;
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 5rem;
  }

  

#map {
    width: 100%;
    height: 1000px;
    margin: auto;
  }

  .mapboxgl-popup-content h4 {
    font-weight: 1000;
    font-size: 2em;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.8em;
    margin-bottom: 0.5em;

}

.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}


#menu {
	background: #fff;
	position: fixed;
	z-index: 1;
	bottom: 30px;
	right: 3em;
	border-radius: 3px;
	width: 300px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	font-family: 'Open Sans', sans-serif;
  transition: scale(1.1);
}
#menu a {
	font-size: 13px;
	color: #404040;
	display: block;
	margin: 0;
	padding: 0;
	padding: 10px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	text-align: center;
  transition: transform 0.6s ease;
}
#menu a:last-child {
	border: none;
}
#menu a:hover {
	background-color: #f8f8f8;
	color: #000000;
}
#menu a.active {
	background-color: #404040;
	color: #ffffff;
}
#menu a.active:hover {
	background: #000000;
  transform: scale(1.1); 

}


.title {
	background-color: #000000;
	opacity: 80%;
	border-radius: 1em;
	top: 20em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: .6em/.7em 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
	line-height: 2.5em;
	padding: 2em 2em 3em;
	position: absolute;
	max-width: 12%;
	margin: 0em 5em;
	z-index: 100;
}


.title h1{
	opacity: 100%;
}
.title p {
	line-height: 1.5em;
	opacity: 100%;

}
.title div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;

}
.title hr {
	border-top: .2em dashed #ffffff;
	border-bottom: 0em;
	margin-top: .75em;
	margin-bottom: .75em;
}


.legend {
  font: 1em/1.5em 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  padding: 1em 1em 2em 1em;
  position: relative;
  right: 10px;
  z-index: 100;
  opacity: 100%;

}
.legend h4 {
  margin: 0 0 10px;
  opacity: 100%
}
.legend div span {
  border-radius: 0%;
  display: inline-block;
  height: 13px;
  margin-top: 5px;
  margin-right: 20px;
  width: 13px;


}

.legend2 {
  font: 1em/1.5em 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  padding: 1em 1em 1em 1em;
  position: relative;
  right: 10px;
  z-index: 100;
  opacity: 100%
  bottom: 10px;
}
.legend2 h4 {
  margin: 0 0 0px;
  opacity: 100%
}
.legend2 p {
  padding-top: 0px;
  margin-top: 0px;
}
.legend2 div span {
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  margin: auto;
  display: inline-block;
  height: 5px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  width: 5px;
  opacity: 100%

}